@import './index.scss';

.Navigation {
  background-color: $primary-background;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
  }

  li {
    margin: 10px 20px;
  }

  a {
    text-decoration: none;
  }

  a,
  a:visited {
    color: #ffffff;
  }

  a:hover {
    color: $primary-color;
  }
}
